@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin center-vertical-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
  Media query manager
  0 - 600px:          Phone
  600px - 900px:      Tablet portrait
  900px - 1200px:     Tablet landscape
  1200px - 1800px:    Desktop
  1800px and bigger:  Larger Desktops

  1em = 16px

  Order: Base + typography > general + grid > page layout > components 

  */

$breakpoints: (
  'phone': 37.5em,
  'tab-port': 56.25em,
  'tab-land': 75em,
  'desktop': 112.5em
);

@mixin respond-to($breakpoint) {
  @if map-has-key($map: $breakpoints, $key: $breakpoint) {
    @media (max-width: map-get($map: $breakpoints, $key: $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no values could be retrieved from `#{$breakpoint}`. " + "Available breakpoints are: #{map-keys($map: $breakpoints)}";
  }
}
