.section-about {
  background-color: $color-grey-light-1;
  padding: 36rem 0 25rem 0;
  margin-top: -25vh;

  @include respond-to('tab-land') {
    padding: 25rem 0 28rem 0;
    margin-top: -20vh;
  }
}

.section_features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  // skews element
  transform: skewY(-6deg);
  margin-top: -14rem;

  // this selector selects direct child's of section_features (selects div.row, but not the child's of div.row)
  & > * {
    // skews div.row back to horizontal position.
    transform: skewY(6deg);
  }

  @include respond-to('tab-land') {
    padding: 13rem 0;
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -13rem;

  @include respond-to('tab-land') {
    padding-top: 18rem;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond-to('tab-land') {
    padding: 10rem 0;
  }
}

.section-reservation {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond-to('tab-land') {
    padding: 10rem 0;
  }
}

.reservation {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      transparent 50%
    ),
    url('../img/nat-10.jpg');
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  // height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}
